<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Modal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="page-title">React Modal</h1>
    <div class="page">
        <button class="btn open-modal-btn" data-target="#my-modal">Open Modal</button>
    </div>

    <div id="my-modal" class="modal">
        <div class="modal-header">
            <h4 class="modal-header-text">My Modal</h4>
        </div>
        <div class="modal-body">
            <p class="modal-text">This is a modal</p>
        </div>
        <div class="modal-footer">
            <button class="btn close-modal-btn">Close</button>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>