.products-list-item {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    flex: 0 0 20%;
    margin: 20px;
    text-align: center;
    display: flex;
}

.products-list-item-img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}

.products-list-item-name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}