@media (min-width: 992px) {
    .container {
        max-width: 940px;
    }

    .article-left-col {
        flex: 1 1 25%;
    }

    .article-main-col {
        flex: 1 1 50%;
    }

    .article-right-col {
        flex: 1 1 25%;
    }

    .sidebar-page-list {
        flex-direction: column;
    }

    .article-gallery {
        justify-content: space-between;
    }

    .article-gallery-img {
        flex: 1 1 25%;
        margin: 15px;
    }
}