import React from 'react';

const {{pascalCase name}}Container = (props) => {
    return (
        <div>
            {{pascalCase name}}Container
        </div>
    );
};

export default {{pascalCase name}}Container;
